{% extends "base.html" %}
{% block body %}
{% include "partials/playbook_card.html" %}
{% load datetime_formatting %}

<div class="pf-c-card" style="margin: 1em 0;">
    <div class="pf-c-card__body">
        <details id="arguments">
            <summary>Arguments and configuration</summary>
            <table class="pf-c-table pf-m-grid-md pf-m-compact" role="grid">
                <thead>
                    <tr>
                        <th>Argument</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for arg, value in playbook.arguments.items %}
                    <tr>
                        <td>{{ arg }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </details>
        <details id="records">
            <summary>Records</summary>
            {% if playbook.items.records %}
            <ul class="pf-c-list">
                {% for record in playbook.records %}
                <li><a href="../record/{{ record.id }}.html">{{ record.key }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            No records have been saved with <a href="https://ara.readthedocs.io/en/latest/ara-record.html" target="_blank">ara_record</a> for this playbook.
            {% endif %}
        </details>
        <details id="files">
            <summary>Files</summary>
            <ul class="pf-c-list">
                {% for file in playbook.files %}
                <li><a href="../file/{{ file.id }}.html">{{ file.path }}</a></li>
                {% endfor %}
            </ul>
        </details>
        <details id="hosts" open="true">
            <summary>Hosts</summary>
            <table class="pf-c-table pf-m-grid-md pf-m-compact" role="grid" id="host-table">
                <thead>
                    <tr>
                        <th>Host</th>
                        <th>Changed</th>
                        <th>Failed</th>
                        <th>Ok</th>
                        <th>Skipped</th>
                        <th>Unreachable</th>
                    </tr>
                </thead>
                <tbody>
                    {% for host in playbook.hosts %}
                    <tr>
                        <td><a href="../host/{{ host.id }}.html">{{ host.name }}</a></td>
                        <td>{{ host.changed }}</td>
                        <td>{{ host.failed }}</td>
                        <td>{{ host.ok }}</td>
                        <td>{{ host.skipped }}</td>
                        <td>{{ host.unreachable }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </details>
    </div>
</div>

<div class="pf-c-card" style="margin: 1em 0;">
    <div class="pf-c-card__header pf-c-title pf-m-md" id="results">
        <a href="#results">Task results</a>
    </div>
    <div class="pf-c-card__body">
        <!-- Play table -->
        {% for play in playbook.plays %}
        <table class="pf-c-table pf-m-grid-md pf-m-compact" role="grid">
            <tbody>
                <tr>
                    <td>
                        <details open=true id="play-{{ play.id }}" class="pf-c-card pf-m-hoverable">
                            <summary><a href="#play-{{ play.id }}">Play</a>: {% if play.name %}{{ play.name }}{% else %}#{{ forloop.counter }}{% endif %}</summary>
                            {% if not play.tasks %}
                                No tasks have been recorded for this play.
                            {% else %}
                            {% for task in play.tasks %}
                                <!-- Task table -->
                                <table class="pf-c-table pf-m-grid-md pf-m-compact" role="grid">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <details open="true" id="task-{{ task.id }}" class="pf-c-card pf-m-hoverable">
                                                    <summary>
                                                        <a href="#task-{{ task.id }}">Task</a>: {% if task.name %}{{ task.name }}{% else %}#{{ forloop.counter }}{% endif %}
                                                        (<a href="{% if page != "index" %}../{% endif %}file/{{ task.file.id }}.html#line-{{ task.lineno }}">{{ task.action }}</a>)
                                                    </summary>
                                                    <!-- Task results table -->
                                                    {% if not task.results %}
                                                        No results have been recorded for this task.
                                                    {% else %}
                                                        <div class="pf-l-grid">
                                                            <div class="pf-l-grid__item pf-m-8-col">
                                                                <table class="pf-c-table pf-m-grid-md pf-m-compact" role="grid">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class=""></th>
                                                                            <th>Host</th>
                                                                            <th>Status</th>
                                                                            <th>Changed</th>
                                                                            <th>ignore_errors</th>
                                                                            <th>Duration</th>
                                                                            <th>Ended</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for result in task.results %}
                                                                        <tr>
                                                                            {% include "partials/result_status.html" %}
                                                                            <td><a href="../result/{{ result.id }}.html">{{ result.host.name }}</a></td>
                                                                            <td>{{ result.status }}</td>
                                                                            <td>{{ result.changed }}</td>
                                                                            <td>{{ result.ignore_errors }}</td>
                                                                            <td>{{ result.duration | format_duration }}</td>
                                                                            <td>{{ result.ended | format_date }}</td>
                                                                        </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    </div>
                                                </details>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            {% endfor %}
                            {% endif %}
                        </details>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
</div>
{% endblock %}
